@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
.navbar{
  display: flex;
  justify-content: space-around;
}
.dropdown{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.drop-content{
  position: absolute;
  width: 1200px;
  height:520px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.drop_resources{
  position: absolute;
  width: 1300px;
  left: -370px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.img_h{
   height: 30px;
}
.cont_grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}
.cont_grid span:hover{
  background-color: gray;
}
.app_grid{
  display: grid;
  grid-template-columns: repeat(5,120px);
  grid-template-rows: 100px;
  column-gap: 10px;
}
.btn-style{
  border-radius:25px;
}
.btn-style:hover {
  box-shadow: 0px 5px black;
  transform: translateY(-5px);
  
}
.content{
  background-color: rgb(231, 230, 230);
}
.decor{
  color: black;
  text-decoration: none;
}
.decor:hover{
  text-decoration: underline;
}

.overlay{
  width: 420px;
  height: 720px;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 0px;
  overflow: hidden;
  z-index:-200 ;
}

  

.navtwo_drop{
  width: 100%;
  height: 100%;
  position: absolute;
  right: -420px;
  transition: .5s ease;
}
.navtwo_h{
  height: 50px;
}
.second_modal{
  width:100%;
  height:720px;
  position:absolute;
  top:0px;
  right:-420px;
  overflow: auto;
  transition:.5s ;
}
.third-modal{
  width:100%;
  height:720px;
  position:absolute;
  top:0px;
  right:-420px;
  transition:.5s ;
}
#hamburger{
  position: sticky;
  top: 0;
}
#hamburgertwo{
  position: sticky;
  top: 0;
}
.libre {
  font-family: "Libre Baskerville", serif;
  font-weight: 1000;
  font-style: normal;
  font-size: 36px;
}
.arr_graph{
  background: white;
  transition: .1s ease-in;
  background:linear-gradient(to right,white 50%,yellow 50%) left;
  background-size: 200%;
  border-radius: 25px;
  padding: 10px;
}
.arr_graph:hover{
  background-position: right;
  
   
}
.arr_change{
  position: relative;
  transition: .2s;
}
.pos_change{
  background-color: yellow;
  position: relative;
  transition: .2s;
}
.arr_graph:hover .arr_change{
  left: 3px;
}
.arr_graph:hover .pos_change{
   right: 3px;
}
#scale{
  background-color:white ;
  transform: scale(1.1);
}
.fontmodal{
  font-size: 20px;
}
.expl_ani{
  background: white;
  transition: .1s ease-in;
  background:linear-gradient(to right,white 50%,yellow 50%) left;
  background-size: 200%;

}
.expl_ani:hover{
  background-position: right;
}
@media (max-width:1400px){
  #hamburger{
   display: none;
  }
 
}
@media (min-width:1400px){
  #hamburgertwo{
    display: none;
  }
  .navtwo_drop{
    overflow-x: hidden;
  }
}
@media (max-width:560px){
   .overlay{
  width: 320px;
   }
   .navtwo_drop{
    width: 320px;
    right: -320px;
   }
   .second_modal{
    width: 320px;
    right: -320px;
   }
   .third-modal{
    width: 320px;
    right: -320px;
   }
   #scale{
    transform: scale(1.0);
    background-color: rgb(216, 216, 216);
   }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

 .come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
}
.come-from-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
} 